{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'quotes/light.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'quotes/main.css' %}" />
    <!--CSS-->
    {% if title %}
    <title>Bonfire Quotes - {{ title }}</title>
    {% else %}
    <title>Bonfire Quotes</title>
    {% endif %} {% block header %}{% endblock %}
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'quotes-home' %}">
                    <img src="{% static 'quotes/Bonfire_logo.png' %}" alt="Bonfire Quotes" height="45px" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto"></div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="{% url 'quotes-community' %}">Community</a
              >
              {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="{% url 'post-create' %}"
                >New Quote</a
              >
              <a class="nav-item nav-link" href="{% url 'profile' %}"
                >Profile</a
              >
              <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a> {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Sign Up</a
              >
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
          {% if messages %} {% for message in messages %}
          <div class="alert alert-{{ message.tags }} ">
            {{ message }}
          </div>
          {% endfor %} {% endif %} {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      src="{% static 'quotes/default-picker.min.js' %}"
      type="text/javascript"
    ></script>
    {% block footerscript %}{% endblock %}
  </body>
</html>